In [4]:
import pandas as pd
from sklearn import linear_model
df=pd.read_csv('CSV_Data/home_price2.csv')
df
dummies=pd.get_dummies(df.town)
dummies
df_dummies=pd.concat([df,dummies],axis='columns')
df_dummies

df_dummies.drop('town',axis='columns',inplace=True)
df_dummies

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [5]:
model=linear_model.LinearRegression()
X=df_dummies.drop('price',axis='columns')
y=df_dummies.price
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
model.predict(X)
model.score(X,y)
model.predict([[4300,0,0,1]])

array([795449.36572777])